<script type='text/javascript'>
// passed in as their own objects: dtypes, coefs, data
// included in chartParams: sigma, id
// function draw{{chartId}}(){
var raw_data = {{{ data }}};
// dtypes, coefficients and data
var dtypes = {{{ dtypes }}};

// dtypes

//coefficents, list of data.frames representing coefficients
// names matching formula names
var coefs = {{{ coefs }}};

function coefsObj(coefs, model) {
  m = coefs[model]
  return _.zipObject(_.map(m, 
                  function(d) { return d.variable;}), m)
}
// changes above json output from R into row-based object for each
// model
coefs = _.forOwn(coefs, function(v, k, o) {
  var keys = _.keys(v)
  o[k] = _.map(_.range(v['Estimate'].length), function(x) {
    return _.zipObject(keys, _.map(keys, function(t) {
        return v[t][x];
      }))
  })
})
// end coefficents

// get numeric variables in array
var numeric = _.filter(_.keys(dtypes), function(d) { 
  return _.contains(['numeric', 'integer'], dtypes[d]) ;}),
// reset to only look for two data types, numeric and factor
dtypes =  _.zipObject(_.keys(dtypes), _.map(_.keys(dtypes), 
  function(d) { 
    return _.contains(['integer', 'numeric'], 
                      dtypes[d]) ? 'numeric': 'factor'}))
// get factor variables in array
var factor = _.filter(_.keys(dtypes), function(d) { 
  return dtypes[d] == 'factor'}),
// prepare crossfilter and set up some parameters
    params = {{{ chartParams }}},

    colors = d3.scale.category10(),
    model = _.keys(params.formulas)[0],
    formula = params.formulas[model];
    params.xvar = params.xvar ? params.xvar:numeric[0]
    params.yvar = params.yvar ? params.yvar:numeric[1]
    params.color_var = params.color_var ? params.color_var : factor[0]
    params.filter_var = params.filter_var ? params.filter_var : factor[1]
    params.sc_width = params.sc_width ? params.sc_width:700
    params.sc_height = params.sc_height ? params.sc_height:400
    params.coef_width = params.coef_width ? params.coef_width:700
    params.hist_width = params.hist_width ? params.hist_width:300
    params.coef_barheight = params.coef_barheight ? params.coef_barheight:undefined

raw_data.forEach(function(d, i) {
  d._index = i;
  _.map(_.keys(d), function(k) {
    if('numeric' == dtypes[k]){
      d[k] = +d[k]; 
    }
  })
})

// adding switches
var labels = ['choose_x', 'choose_y', 'choose_color',
                      'choose_size', 'choose_filter'],
buttons = d3.select('#controls').append('div')
            .attr('class', 'btn-group-vertical sc')

buttons.selectAll('div')
        .data(['choose_model'])
        .enter().append('div')
        .attr('class', 'models')
        .each(function(d, i) {
          d3.select(this).append('label')
              .attr('for', d)
              .text(d.replace(/choose_/, '') + ':')
          d3.select(this).append('select')
            .attr('class', 'btn selectpicker controls')
            .attr("id", d)
            .each(function(button) {
              d3.select(this).select('#' + button)
                .append('span').attr('class', 'caret')
              d3.select(this).selectAll('option')
                .data(_.keys(coefs))
                .enter().append('option')
                .text(function(t) { return t;})
                .attr('selected', function(d,i) { 
                  return _.keys(coefs)[i] == model ? "selected":null})
            })

        })

buttons = buttons.selectAll('div.variables')
      .data(labels)
      .enter().append('div')
      .attr('class', 'variables')
      .each(function(d,i) {
        d3.select(this).append('label')
              .attr('for', d)
              .text(d.replace(/choose_/, '') + ':')
       var select = d3.select(this).append('select')
        select.attr('class','btn selectpicker controls')
        .attr('data-width', 'auto')
        .attr('id', function(d) { return d;})
        .each(function(button) {
        d3.select(this).select("#" + button)
          .append('span').attr('class', 'caret')
        button = d3.select(this).selectAll('option')
              .data(_.keys(dtypes).filter(function(d,k) { 
                //if(i == 2) return true
                //2 (color) and 4(filter)
                if (i == 4 || i ==2) return _.contains(factor, d)
                else if (_.contains(numeric.concat(factor), d)) 
                    return true;
              }))
            .enter().append('option')
              .text(function(d) { return d;})
              .attr('selected', function(d) {
                if(i == 0) { return d == params.xvar ? 'selected': null}
                  else if(i == 1) { return d == params.yvar ? 'selected': null}
                  else if(i == 2) { return d== params.color_var ? 'selected': null}
                  else if(i == 3) { return d== params.size_var ? 'selected':null}
                  else if(i == 4) { return d== params.filter_var ? 'selected':null}
              })
      })
    })

d3.select('#choose_filter').on('change', function() {
  params.filter_var = this.value;
  fil.dispose();
  fil = data.dimension(function(d) { return d[params.filter_var]})
  update_filter();
  update_all();
});
d3.select('#choose_x').on('change', function() {
  params.xvar = this.value
  update_all();
});
d3.select('#choose_y').on('change', function() {
  params.yvar = this.value
  update_all();
});
d3.select('#choose_model').on('change', function() {
  model = this.value
  coef_plot = coef_plot.formula(params.formulas[model])
  d3.select('#coefficients')
    .datum(coefs[model]).call(coef_plot)
  update_all();
});
d3.select('#choose_size').on('change', function() {
  params.size_var = this.value
  update_all();
});
d3.select('#choose_color').on('change', function() {
  params.color_var = this.value;
  update_color();
  update_all();
});

// should the filter be given discrete values or a range?
function fil_choices() {
  if("numeric" == dtypes[params.filter_var]) {
    return expand_extent(d3.extent(_.map($('#current_filter')[0].options,
      function(d) { if(d.selected) return parseFloat(d.value) })))
  } else {
    return _.map($('#current_filter')[0].options, 
        function(d) { if(d.selected) return d.value
    })
  }
}

// reset filter
function set_filter() {
  fil.filterAll();
  var items = fil_choices();
  if(_.contains(['numeric', 'integer'], dtypes[params.filter_var])) {
    fil.filterRange([d3.min(items), d3.max(items)])
  } else {
    fil.filterFunction(function(d) { 
      return items.indexOf(d) > -1;
    })
  } 
  all_hist = _.map(_.range(0, numeric.length), function(d) {
      return {vname: numeric[d], dim: inx};})

  hist_div.selectAll('div.hist')
    .data(all_hist, function(d) { return d.vname})
    .each(function() {
      d3.select(this)
        .call(ch);
    });
};

// setting up crossfilters
var data = crossfilter(raw_data),
inx = data.dimension(function(d) { return d._index; }),
fil = data.dimension(function(d) { return d[params.filter_var];});

  // update filters
function update_filter() {
  fil.dispose();
  fil = data.dimension(function(d) { return d[params.filter_var];});
  d3.select('#current_filter').remove()
  d3.select('.btn-group').remove()
  d3.select('.btn-group-vertical .filter_group').remove()
  var cur_filter = d3.select('.btn-group-vertical.sc')
                  .append('div')
                  .attr('class', 'filter_group')
                  .append('select')
                  .attr('id', 'current_filter')
                  .attr('multiple', 'multiple')
                  .attr('class', 'controls')
      cur_filter.selectAll('option')
          .data(_.unique(_.map(fil.top(Infinity), function(d) {
            return d[params.filter_var];
            })))
         .enter().append('option')
          .attr('value', function(d) { return d;})
          .attr('selected', 'selected')
          .text(function(d) { return d;})
        $('#current_filter').multiselect({
          buttonWidth:false,
          includeSelectAllDivider: true,
          includeSelectAllOption: true}).on('change', 
            function() {set_filter(); update_all(); });
        d3.select("#current_filter~.btn-group")
          .insert('label', '.btn')
          .text(params.filter_var + ":")
        d3.select('#current_filter~.btn-group .btn')
          .style('border-radius', '4px')
}

function update_color() {
  // add continuous color scale for numeric color vars
  colors.domain(_.unique(_.map(inx.top(Infinity),
    function(d) { return d[params.color_var]})))
  // var color_legend = d3.select('#color-legend')
  //                     .style('height', colors.domain().length*50)

  // function make_color_legend(el) { 
  //   el.append('text')
  //       .attr("x", 0)
  //       .attr('y', 35)
  //       .attr('text-anchor', 'right')
  //       .text(el[0][0].__data__)
  //   el.append('rect')
  //       .attr('width', 20)
  //       .attr('height', 20)
  //       .attr('x', 15)
  //       .attr('y', 20)
  //       .attr('fill', colors(el[0][0].__data__))
  //       .attr('fill-opacity', 0.8)
  // }

  // color_legend.select('text')
  //       .transition().duration(500)
  //       .style('opacity', 0)
  //       .transition().duration(500)
  //       .style('opacity', 1)
  //       .text(params.color_var + ":")
  //       .attr('x', 0)
  //       .attr('y', 10)

  // color_legend = color_legend.selectAll('g.c')
  //       .data(colors.domain())

  // color_legend.each(function(d, i) {
  //   var g = d3.select(this)
  //   g.select('rect').remove()
  //   g.select("text").remove()
  //   g.attr('transform', 'translate(0,' + (i * 25) + ')')
  //   g.call(make_color_legend)});

  // color_legend
  //    .enter().append('g')
  //     .attr('class', 'c')
  //     .each(function(d, i) {
  //       var g = d3.select(this)
  //       g.attr('transform', 'translate(0,' + (i * 25) + ')')
  //       g.call(make_color_legend)});

  // color_legend.exit()
  //   .transition().duration(1000)
  //   .style('opacity', 0).remove()
}

// getting factor and numeric terms for univariate charts.
function prep_formula(f) {
  var formula = f.replace(/ /g, ''),
  dep_var = formula.slice(0, formula.search(/~/)),
  indeps = formula.slice(formula.search(/~/) + 1).split('+')
  numeric_terms = _.filter(indeps, 
                           function(d) { return dtypes[d] == 'numeric'})
  return formula;
}


var coef_div = d3.select('#coef_scatter_charts').append('div');
coef_div
    .attr("class", "row")
    .attr('id', 'coefficients')
    .datum(coefs[model])

coef_plot = d3.barchart_errors()
              .width(params.coef_width)
              .formula(params.formulas[model])

if(params.coef_barheight){
  coef_plot = coef_plot.barheight(params.coef_barheight)
}

coef_div.call(coef_plot)

var scatter_div = d3.select('#coef_scatter_charts')
      .append('div')
      .attr('id', 'scatter')
      .attr("class","row")
      .datum([0])


// histograms
function update_hist() {

  if(d3.select("#hist_select").empty()){
    var hist_select = d3.select('.btn-group-vertical.sc')
                    .append('div')
                    .attr('class', 'hist')
                    .append('select')
                    .attr('id', 'hist_select')
                    .attr('multiple', 'multiple')
                    .attr('class', 'controls')
    hist_select.selectAll('option')
      .data(numeric)
      .enter().append('option')
      .attr('value', function(d) { return d; })
      .attr('selected', function(d, i) {
        return i < 4 ? 'selected':null;
      })
      .text(function(d) { return d;})

    $('#hist_select').multiselect({
      onChange: function(option, checked) {
        // Get selected options.
        var selectedOptions = $('#hist_select option:selected');
 
        if (selectedOptions.length >= 4) {
          // Disable all other checkboxes.
          var nonSelectedOptions = $('#hist_select option').filter(function() {
            return !$(this).is(':selected');
          });
 
          var dropdown = $('#hist_select').siblings('.multiselect-container');
          nonSelectedOptions.each(function() {
            var input = $('input[value="' + $(this).val() + '"]');
            input.prop('disabled', true);
            input.parent('li').addClass('disabled');
          });
        }
        else {
          // Enable all checkboxes.
          var dropdown = $('#hist_select').siblings('.multiselect-container');
          $('#hist_select option').each(function() {
            var input = $('input[value="' + $(this).val() + '"]');
            input.prop('disabled', false);
            input.parent('li').addClass('disabled');
          });
        }
        add_hist();
      },
      buttonWidth:false})
    d3.select("#hist_select~.btn-group")
      .insert('label', '.btn')
      .text("histograms:")
    d3.select('#hist_select~.btn-group .btn')
      .style('border-radius', '4px')
  } else {
    var hist_select = d3.select('#hist_select')
  }
}


var hist_div = d3.select('#chart').append('div')
                .append('div')
                .attr('class', 'col-md-6')
                .style('float', 'left')
                .append('div')
                .attr('id', 'histograms')
                .attr('class', 'row')


var ch = d3.hist_cf()
          .color(colorbrewer.Dark2[5][1])
          .height(params.hist_width)
          .width(params.hist_width)
          .tickdiv(5)
          .bins(30)

var order = numeric.slice(0,4)
function add_hist() {
  var choices = _.map($('#hist_select option:selected'), 
                      function(o) { return o.value;})

  if(choices.length != 4) {return null}else{
    var new_vars = _.difference(choices, order),
    remove = _.difference(order, choices),
    index = 0;

    for(var i = 0; i < remove.length; i++){
      order[order.indexOf(remove[i])] = new_vars[i];
    }

    var all_hist = _.map(order, function(d, i) {
          return {vname: d, dim: inx, index:i};})

    var hists = hist_div.selectAll('div.hist')
            .data(all_hist)

    hists.each(function(d, i) {
      var sel = d3.select(this)
      if(_.contains(new_vars, d.vname)){
        sel.call(ch)
      }
    })

    if(hists.empty()){
      hists.enter().insert('div')
        .attr('id', function(d) { return d.vname})
        .attr('class', function(d) { return 'hist'})
        .style('float', 'left')
        .style('position', 'relative')
        .each(function(d, i) {
          d3.select(this).call(ch)
        })
    }
  }
}

update_filter();
update_color();
update_hist();
add_hist();


function update_all() {

scatter = d3.scatter_lm()
    .height(params.sc_height)
    .width(params.sc_width)
    .dimension(inx)
    .xvar(params.xvar)
    .yvar(params.yvar)
    .color_var(params.color_var)
    .color_scale(colors)
    .size_var(params.size_var)
    .npredictlines(params.prediction_lines)
    .filter_var(params.filter_var)
    .coefs(coefsObj(coefs, model))
    .dtypes(dtypes)
    .formula(prep_formula(params.formulas[model]))
    .id('scatter');

  scatter_div.call(scatter)

}
update_all()

//   return plot_glmer;
// };

// $(document).ready(function(){
//   draw{{chartId}}()
// });

</script>
